<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
       "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Customers</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <h1>Add Customer</h1>

  <form action="{% url "create-customer" %}" method="POST">
    {% csrf_token %}
    <ul>
      {{ form.as_ul }}
    </ul>
    <input class="btn btn-success" id="save_customer" type="submit" value="Save" />
  </form>

  <a href="{% url "customer-list" %}" class="btn btn-default">back to list</a>
</body>
</html>
